.hero {
  width: 100vw;
  height: 100vh;

  background-image: url("/images/Banner.png");

  /* Fit desktop width */
  background-size: 100vw auto;

  /* Move banner down and center it */
  background-position: center 60%;

  background-repeat: no-repeat;

  overflow: hidden;
}