.hero {
  width: 100%;
  
  /* WEBSITE BANNER SIZE */
  height: 70vh;
  min-height: 500px;

  background-image: url("/images/Banner.png");

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  overflow: hidden;
}