.hero {
  width: 100vw;
  height: 100vh;

  background-image: url("/images/Banner.png");

  background-size: 100vw auto;

  /* MOVE DOWN + CENTER */
  background-position: center 60%;

  background-repeat: no-repeat;

  overflow: hidden;
}