.hero {
  position: relative;
  width: 100%;
  height: 120vh;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(82,9,121,0.99781162464986) 35%, rgb(159, 84, 189) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.heroText h1 {
  font-family: "philosopher";
  margin-bottom: 300px;
  margin-right: 600px;
  color: rgb(255, 255, 255);
  font-size: 5.5rem;
  font-weight: bold;
  line-height: 1.2;
}

.branchImage {
  position: absolute;
  right: 40%;  
  top: -25%;    
  width: 85%; 
  height: auto;
  transform: rotate(-70deg);
  transform-origin: top right; 
  animation: branchReveal 2s ease-in-out forwards;
}


@keyframes branchReveal {
  from {
    opacity: 0;
    transform: translateX(150px) rotate(-70deg);
  }
  to {
    opacity: 1;
    transform: translateX(0) rotate(-70deg);
  }
}

.apple {
  position: absolute;
  top: 45%; 
  right: 52%; 
  width: 100px;
  height: auto;
  opacity: 0;
  transform: scale(0);
  animation: growApple 1.5s ease-in-out 2s forwards;
  cursor: pointer;
}

/* Apple Growing Animation */
@keyframes growApple {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (max-width: 768px) {
  .hero {
    height: 70vh;
    padding: 0 110px;;
  }

  .heroText h1 {
    
    font-size: 2.9rem;
    margin-bottom: 330px;
    margin-right: 220px; 
    text-align: left;
    line-height: 1.1; 
    z-index: 1;
  }

  .branchImage {
    top: -15%; 
    width: 150%; 
    max-width: none; 
    transform: rotate(-70deg);
  }


  .apple {
    top: 45%; 
    right: 60%; 
    width: 70px; 
  }
}