.hero {
  width: 100vw;
  height: 100vh;

  background-image: url("/images/Banner.png");

  /* PERFECT DESKTOP FIT */
  background-size: 100vw auto;

  background-position: center top;
  background-repeat: no-repeat;

  overflow: hidden;
}