.navbar {
  font-family: "philosopher", "bold";
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background: #863399;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px; /* Adjusted for better fit */
  margin-right: 8px;
}

.name {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 15px;
}

/* Adjust link styling for better spacing */
.navLinks li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* iPhone-specific styles */
@media (max-width: 430px) {
  .navbar {
    padding: 10px 15px;
  }

  .logo {
    width: 45px; 
    margin-right: 6px;
  }

  .name {
    font-size: 14px;
  }

  .navLinks {
    gap: 20px; /* Increase 
