.container {
    width: 75%;
    margin: auto;
    font-family: "Philosopher";
    padding: 20px 0;
  }
  
  /* Hero Section */
  .hero {
    text-align: center;
    background: rgba(134, 51, 153, 1);
    color: white;
    padding: 80px 0;
  }
  
  .title {
    font-size: 60px;
    font-weight: bold;
  }
  
  /* Main Content */
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
    gap: 30px;
  }
  
  .textBlock {
    width: 50%;
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
  }
  
  .imageWrapper img {
    width: 50%;
    border-radius: 15px;
  }
  
  /* Skills Section */
  .additionalInfo {
    margin-top: 50px;
  }
  
  .subheading {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .skillsList {
    list-style-type: none;
    padding: 0;
    font-size: 18px;
  }
  
  .skillsList li {
    margin: 10px 0;
    background: rgba(134, 51, 153, 0.2);
    padding: 10px;
    border-radius: 5px;
  }
  