.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-items: center;
  align-items: start;
  padding:  2rem 0;
  width: 100%;
  max-width: 1200px;
  margin: -40px auto 0; 
}

.project {
  width: 100%;
  max-width: 500px;
  text-decoration: none;
}

.card {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 16px;
  background: #810bc6;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: -20px; 
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: translate(-50%, -50%);
  transition: transform 0.4s ease;
}


.card:hover .image {
  transform: scale(1.05);
}


.textBox {
  position: relative;
  z-index: 2;
  background: rgba(215, 112, 250, 0.731);
  padding: 1rem;
  text-align: center;
  margin-top: auto;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project:hover .textBox {
  opacity: 1;
}

.title {
  font-weight: bold;
  font-family: Philosopher, sans-serif;
  font-size: 1.8rem;
  color: #ffffff;
  margin: 0.4rem 0;
}

.description {
  font-family: Philosopher, sans-serif;
  font-size: 1.1rem;
  color: #ffffff;
  line-height: 1.4;
}

@media (max-width: 768px) {
  .projects {
    grid-template-columns: 1fr;
    padding: 2rem 1rem;
  }

  .card {
    max-width: 100%;
  }
  .textBox {
  position: relative;
  z-index: 2;
  background: rgba(215, 112, 250, 0.731);
  padding: 0.2rem;
  text-align: center;
  margin-top: auto;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project:hover .textBox {
  opacity: 1;
}
}
