.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allows multiple columns */
  gap: 20px;
}

.project {
  position: relative;
  text-align: center;
  color: white;
  max-width: 450px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.project:hover .image {
  transform: scale(1.05);
}

.title {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  font-size: 0.9rem;
  width: 200px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.show {
  opacity: 1;
}

/* Responsive for iPhones */
@media screen and (max-width: 768px) {
  .projects {
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 100vh;
    padding: 20px 0;
  }

  .project {
    max-width: 90%;
  }
}
