.projects {
  display: flex;
  justify-content: flex-start; 
  overflow-x: auto; 
  scroll-behavior: smooth; 
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.project {
  font-family: "Philosopher";
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;
  flex: 0 0 auto;
}

.image {
  width: 450px; /* Adjust width to keep images smaller */
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.project:hover .image {
  transform: scale(1.05);
}

.title {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.4rem;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 8px;
  font-size: 0.85rem;
  width: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.show {
  opacity: 1;
}

.projects:active {
  cursor: grabbing;
}


@media screen and (max-width: 390px) {
  .projects {
    overflow-x: auto;
    padding: 5px;
  }

  .project {
    flex: 0 0 80%; 
    max-width: 280px;
  }

  .image {
    width: 300px;
  }

  .title {
    font-size: 1rem;
  }

  .overlay {
    font-size: 0.8rem;
    width: 150px;
  }
}
