.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #6c1b84;
    padding: 15px 30px;
  }
  
  .navLinks {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navLinks a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  