.layouts {
    text-align: center;
    padding: 50px 20px;
}

.layouts img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1000px;
}

.title {
    font-family: "philosopher", "bold";
    font-size: 80px;
    margin-bottom: 30px;
}