.footer {
    text-align: center;
    padding: 30px 20px;
    border-top: 2px solid black;
  }
  
  .name {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .contact {
    font-size: 16px;
  }
  
  .icons {
    margin-top: 10px;
  }
  
  .icons img {
    width: 30px;
    margin: 0 10px;
  }
  